body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}





.card {
    background: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
    width: auto;
    border-radius: 10px;
    border: 2px solid #838383;
    padding-top: 15px;
}

.card-text {
    margin-bottom: 29px;
}

.card-img-top {
    width: 320px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #000000;
    object-fit: cover;
    margin-bottom: 8px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-title {
    font-weight: bold;
    height: 30px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: x-large;
}

#card-desc {
    width: 358px;
    height: 85px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    margin-left: -21px;
    text-overflow: ellipsis;
    text-align: justify;
    border-bottom: 1px solid #838383;
    padding-bottom: 20px;
    margin-bottom: 17px;
}

#chaptersB {
    margin-right: 10px;
    margin-bottom: 10px;
}

#reviewsB {
    margin-right: 10px;
}

#ceva {
    margin-bottom: 10px;
}

#button-space {
    margin-bottom: 25px;
}

#h3 {
    margin-top: 40px;
    text-align: center;
    margin-bottom:30px;
}


#title-line {
    width: auto;
    border-bottom: 2px solid #838383;
    width: 358px;
    margin-left: -21px
}


#h3 {
    margin-top: 40px;
    text-align: center;
}

.btn {
    margin-bottom: 0px;
}

#title-line {
    width: auto;
    border-bottom: 2px solid #838383;
    width: 358px;
    margin-left: -21px
}

#button-line {
    width: auto;
    border-bottom: 2px solid #b4b4b4;
    width: 358px;
    margin-left: -21px
}


#title {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    background-color: #c7c7c7;
    border-radius: 10px;
    overflow: hidden;
    border: 0.2rem thin #b4b4b4;
    margin-top: 20px;
}

    .table thead th {
        background-color: #4D4C4C;
        color: #fff;
    }


.btn-group .btn {
    margin: 10px;
}


.form-button {
    display: inline-block;
    margin-right: 10px;
}

.btn {
    margin-right: 15px;
}

#username {
    padding-left: 15px;
}

.form-horizontal {
    padding: 20px;
    border-radius: 5px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.btn-default {
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.2s ease;
}

    .btn-default:hover {
        background-color: #0056b3;
    }


.btn {
    margin-right: 15px;
}

#danger {
    width: 83.719px;
}


