@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 1px solid #b4b4b4;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #b4b4b4;
        width: 626px;
        margin-left: -31px;
        border-bottom: none;
        margin-bottom: 0px;
        padding-top: 15px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .dl-horizontal {
        align-items: flex-start;
    }

    .form-group {
        margin-bottom: 5px;
        margin-top: 5px;
    }
</style>

<h1 id="h3">Forgot Password Confirmation</h1>

<center>
    <div id="info-box">
        <div class="form-group">
            <b>@ViewBag.Title: </b>
            <p>Please check your email to reset your password.</p>
        </div>
    </div>
</center>
