@{
    ViewBag.Title = "Contact";
}

<style>
    #h3 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 50px;
    }

    #info-box {
        background: #f8f9fa;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        width: 55%;
        text-align: left;
        padding-left: 30px;
        border: 0.1rem solid #838383;
    }

    .btn {
        margin-right: 20px;
    }

    #button-line {
        width: auto;
        border-top: 1px groove #b4b4b4;
        width: 626px;
        margin-left: -31px;
        border-bottom: none;
        margin-bottom: 0px;
        padding-top: 15px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .dl-horizontal {
        align-items: flex-start;
    }

    .form-group {
        margin-bottom: 5px;
        margin-top: 5px;
    }
</style>

<h1 id="h3">Contact</h1>

<center>
    <div id="info-box">
        <div class="form-group">
            <b>Welcome!</b>
            <p>We value your feedback and are here to assist you. Reach out to us through the provided contact form or contact our support team directly. We are dedicated to ensuring your experience with our platform is seamless and rewarding.</p>
        </div>



        <div class="form-group">
            <b>To report issues with the platform or any other problems, you can reach us at:</b>
            <p><a href="mailto:Support@example.com">admin@gmail.com</a><br>
               <a href="mailto:Support@example.com">admin2@gmail.com</a></p>
        </div>

    </div>
</center>
