@model ProiectLicenta.Data.Models.Warning

@{
    ViewBag.Title = "Remove Warning";
}

<style>
    .dl-horizontal {
        text-align: left;
    }

    .btn {
        margin-right: 30px;
    }

    body {
        background-color: #f8f9fa;
    }

    .btn {
        margin-right: 20px;
    }

    #h3 {
        margin-top: 40px;
        text-align: center;
    }

    #info-box {
        background: #f8f9fa; 
        padding: 20px; 
        margin-bottom: 25px; 
        border-radius: 20px; 
        width: 40%; 
        text-align: left; 
        padding-left: 30px; 
        border: 1px solid #b4b4b4;
    }

</style>

<h3 id="h3">You are about to remove the warning of the following user:</h3>
<div>
    <hr />

    <center>
        <div id="info-box">
            <div>
                <b> Email of the warned user:</b> 
                @Html.DisplayFor(model => model.User.Email)
            </div>
            <div>
                <b>Warning reason:</b> 
                @Html.DisplayFor(model => model.WarningReason)
            </div>

        </div>
    </center>

    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Remove Warning" class="btn btn-danger" />
                @Html.ActionLink("Abort", "UserWarnings", "Users", new {userDataId = Model.UserId}, new { @class = "btn btn-primary" })
            </div>
        }
    </center>
</div>