
@{
    ViewBag.Title = "ThisUserHasNoWarnings";
}

<h2>ThisUserHasNoWarnings</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <li>@Html.ActionLink("Go Back to AdminPanel", "UsersDetails", "Users")</li>
}

