
@{
    ViewBag.Title = "UserAlreadySuspended";
}

<h2>UserAlreadySuspended</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <li>@Html.ActionLink("Go Back to AdminPanel", "UsersDetails", "Users")</li>
}

