@model Proiect_Licenta.ViewModels.HelperApplicationViewModel

@{
    ViewBag.Title = "YourHelpingStudentApplication";
}

<h2>Your Helping Student Application</h2>

<div>
    <h4>Helping Student Application</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinishedCourses)
        </dt>
        <dd>
            @foreach (var course in Model.FinishedCourses)
            {
                <p>@course.CourseName</p>
            }
        </dd>

        <dt>Professor Email</dt>
        @if (!string.IsNullOrEmpty(Model.ProfessorEmail))
        {
            <dd>@Model.ProfessorEmail. <br />
            The professor is backing your application! It will shortly be reviewed by our admins.</dd>
        }
        else
        {
            <dd>No professor supports your application as of now.</dd>
        }

    </dl>
</div>
@if (User.IsInRole("student"))
{
    <p>
        @Html.ActionLink("Changed Your Mind?", "DeleteApplication", new { applicationId = Model.HelpingStudentApplicationId })
    </p>
}
